<h1>Welcome!</h1>

<div class="media">
  <img class="mr-3" src="https://via.placeholder.com/150" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">user@email.com asked:</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    <div>
      <a href="/questions/12" class="btn btn-success btn-xs">View answers</a>
    </div>
  </div>
</div>
<br>
<div class="media">
  <img class="mr-3" src="https://via.placeholder.com/150" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">user@email.com asked:</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    <div>
      <a href="/questions/12" class="btn btn-success btn-xs">View answers</a>
    </div>
  </div>
</div>
<br>
<div class="media">
  <img class="mr-3" src="https://via.placeholder.com/150" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">user@email.com asked:</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    <div>
      <a href="/questions/12" class="btn btn-success btn-xs">View answers</a>
    </div>
  </div>
</div>