<div class="container">
  <div class="lead">
    <br>
    <div>
      <button type="button" data-toggle="modal" data-target="#new-answer-modal" class="btn btn-success">Submit new answer</button>
    </div>

    <%= render 'home/new_answer_form' %>
    <br>
    <div class="media">
      <img class="mr-3" src="https://via.placeholder.com/150" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">user@email.com asked:</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
    <br>
    <div class="media">
      <img class="mr-3" src="https://via.placeholder.com/150" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">user@email.com asked:</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
    <br>
    <div class="media">
      <img class="mr-3" src="https://via.placeholder.com/150" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">user@email.com asked:</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
</div>